*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: honeydew;
}

.pageTitle {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid olivedrab;
    border-radius: 10px;
    background-color: rgb(212, 235, 240);
}

.queryContainer{
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgb(237, 243, 141);
    outline: none;
    display: flex;
    font-size: 1.5rem;
    text-align: justify;
}

.queryContainer:hover{
   
    box-shadow: 0px 0px 20px 0px rgb(237, 243, 141);
    transform: scale(1.025);
   
}
.queryLeft, .queryRight{
    padding: 10px;
    flex: 1;
}

.queryRight{
    border-left: 1px solid grey;
}
.queryLabel{
    font-weight: bold;
}

.queryRow {
    margin-bottom: 5px;
}
.queryRow a{
    text-decoration: none;
}
.queryMessage{
    padding: 5px;
}