.aboutMainContainer{
    width: 100%;
    min-height: calc(100vh-75px);
    background-color: rgb(251, 251, 237);
    padding: 50px;
}

.descriptionContainer{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid orchid;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 10px 10px;
}

.descriptionImage {
    width: 150px;
    height: 150px;
}

.descriptionImage img{
    width: 150px;
    height: 140px;
    padding: 10px;
    margin: 3px;
    background-color:rgb(237, 249, 184);
    border-radius: 100%;
    
}

.marginTop {
    margin-top: 20px;
}

.descriptionText {
    text-align: justify;
    margin: 10px;
}
.aboutInfosContainer{
    border: 1px solid orchid;
    border-radius: 5px;
    margin: 20px 0px;
    display: flex;
    gap:20px;
}

.infosLeftContainer{
    width: 150px;
    min-height: 300px;
    padding: 10px;
    margin: 3px;
}

.infosRightContainer{
    border: 1px solid black;
    flex: 1;
    text-align: justify;
    margin-right: 10px;
}

.infoLeftItemContainer{
    margin-bottom: 20px;
}

.infoLeftItem{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: black;
    
}

.spanInfoLeftContainerItem{
    font-size: 17px;
}

.icon {
    font-size: 30px;
}
